<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mental Image Game</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="/static/public/fonts/icomoon/style.css">
    <link rel="stylesheet" href="/static/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/public/css/jquery-ui.css">
    <link rel="stylesheet" href="/static/public/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/public/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/static/public/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/static/public/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="/static/public/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/static/public/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="/static/public/css/aos.css">
    <link rel="stylesheet" href="/static/public/css/style.css">
</head>
{% extends "ShopUser/base.html" %}
{% block content %}
    <div class="site-section" id="products-section">
        <div class="container">
            <div class="row">
                {% for img in products %}
                <div class="col-lg-4 col-md-6 mb-5">
                    <a href="/product/{{ img.pAttributes }}/{{ img.id }}">
                        <div class="product-item">
                            <figure>
                                <img src="/media/images/products/{{ img.id }}.jpg" alt="Image" class="img-fluid">
                            </figure>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
</html>
